.contact-us {
    background-image: linear-gradient(-90deg, transparent, black), url("../images/Hermes_underside.jpg");
    height: 100%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
    padding-bottom: 20%;
}