---
title: Home
layout: default
---
<div class="video-banner">
    <video autoplay preload muted loop id="video">
        <source src="{{site.data.home.video}}" type="video/mp4" />
        <img src="{{site.data.home.backup-image}}" style="width: 100%">
    </video>
    <div class="overlay">
        <h1>{{site.data.home.title}}</h1>
		<h2>{{site.data.home.sub-title}}</h2>
    </div>
</div>

<div class="drone-img-map">
    <ul>
        <img src="images/image-map.png" id="img-map" alt="Workplace">
        {% for point in site.data.drone-image-map.points %}
        <li class="image-map-item">
            <a class="map-point" style="top: {{point.top}}%; left: {{point.left}}%; transform: translate(-{{point.left}}%, -{{point.top}}%)">
                <i class="fa fa-info" aria-hidden="true"></i>
                <span class="popup {{point.shadow}} {{point.color}}" style="margin: {{point.popup-origin}}">
                    <p class="dark-background">{{ point.text }}</p>
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% assign text-banners = site.data.home.text-banners %}
{% include text-banners.html %}

<div class="image-nav">
    <div class="image-carousel" id="image-carousel">
        <!-- Previous button -->
        <a class="prev" onclick="incrementImage(-1)">&#10094;</a>

        {% for image in site.data.home.image-carousel %}
        <!-- Full-width images with number and caption text -->
        <div class="image fade">
            <p>Caption Text</p>
            <img src="{{image.image}}" style="width:100%">
        </div>
        {% endfor %}
    
        <!-- Next button -->
        <a class="next" onclick="incrementImage(1)">&#10095;</a>
    </div>
    <!-- The dots/circles -->
    <div style="text-align:center">
        {% assign range = site.data.home.image-carousel.size | minus: 1 %}
        {% for i in (0..range) %}
        <span class="dot" onclick="changeImage({{i}})"></span>
        {% endfor %}
    </div>
</div>

<script>
    var imageIndex = 0;
    changeImage(imageIndex);

    function incrementImage(n){
        changeImage(imageIndex + n)
    }

    function changeImage(n) {
        //Get images and dots
        var images = document.getElementById("image-carousel").getElementsByClassName("image");
        var dots = document.getElementsByClassName("dot");

        //Disable the previously shown image
        images[imageIndex].style.display = "none";
        dots[imageIndex].className = dots[imageIndex].className.replace(" active-dot", "");

        //Assign new index
        imageIndex = n
        if (imageIndex > images.length - 1) {imageIndex = 0}    
        if (imageIndex < 0) {imageIndex = images.length - 1}
        
        //Enable new image
        images[imageIndex].style.display = "inline-block";  
        dots[imageIndex].className += " active-dot";
    }
</script>

<div class="gray-background">
<div class="specs-section">
    {% for section in site.data.home.specs %}
    <div class="section-dark">
        <h2 class="purple title text-shadow">{{section.title}}</h2>
        {% for spec in section.items %}
        <div class="spec">
            {% if spec.icon %}
            <img src="{{spec.icon}}" alt="Image">
            {% else %}
            <p></p>
            {% endif %}
            <div>
                <p><strong>{{spec.name}}</strong></p>
                <p class="small-font">{{spec.spec}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
</div>

