{% assign i = 0 %}
{% for text-banner in text-banners %}
    {% assign current = i | modulo:2 %}
    <div class="text-banner" style="{% if current == 1 %} background-color: #ebebeb; {% endif %}">
        {% if current == 0 %}
        <img src="{{text-banner.image}}" alt="Image">
        {% endif %}
        <div>
            <h2 class="{{text-banner.title-color}} ">{{text-banner.title}}</h2>
            <div class="divider background-{{text-banner.title-color}}"></div>
            <p>{{text-banner.text}}</p>
        </div>
        {% if current == 1 %}
        <img src="{{text-banner.image}}" alt="Image">
        {% endif %}
    </div>

    {% assign i = i | plus:1 %}
{% endfor %}